footer {
    width: 100%;
    background-color: #E4E5E6;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 99;

    .footer-container {
        color: #000000;
        padding: 10px;
    }
}