header {
    background-color: $white-color;
    width: 100%;
    padding: 10px;
    color: #F9F9F9;
    border-bottom: 1px solid $border-color;
    position: fixed;
    top: 0;
    z-index: 99;

    .search-input  {
        font-family: Arial, FontAwesome;
        text-align: center;
        background-color: #E4E5E6; 
        border: 0;
    }
}